[lightning-combobox_combobox-host]{
    margin-bottom: 17px;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}

.slds-table_edit thead th:first-child{
    width: 60px;
} 

.picklist-container{
    margin-top: -2.25rem;
    position: absolute !important;
    width: auto;      
}

.buttonEdit {
    position: absolute;
    right: 0;
    top: 0.8em;
    flex-shrink: 0;
    visibility: hidden;
}

lightning-primitive-custom-cell:hover > .buttonEdit {
    visibility: visible;
} 
/* tr td:hover >.buttonEdit {
    visibility: visible;
} 
> c-datatable-picklist > div:nth-child(2)*/



